<h3>Project: <%= @project.name %></h3>

<form action="/project/<%= @project.id %>" method ="post">
  <input name="_method" type="hidden" value="patch">
  <label for "name">Rename:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>
<h4>Volunteers:</h4>
<ul>
  <% @volunteers.each do |volunteer| %>
    <li><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a></li>
  <% end %>
</ul>
<hr>


<form action="/project/<%= @project.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Project</button>
</form>
